DATABASE_URL="postgresql://docker:docker@localhost:5432/docker?schema=public"
PORT="4000"
CORS_ORIGIN="http://localhost:3000"
JWT_SECRET="YOUR_SECRET_HERE"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_SECRET="YOUR_REFRESH_SECRET_HERE"
JWT_REFRESH_TTL="7d"
SEED_MASTER_NAME="Master Admin"
SEED_MASTER_EMAIL="master@store.local"
SEED_MASTER_PASSWORD="Master!123"
